body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */
.bg-info {
  background-color: violet !important; 
}

.btn-info{
  background-color: violet !important;
  border: none !important;
}

.btn-outline-info{
  background-color: transparent !important;
  border: 2px solid violet !important;
}

.card .btn-outline-info{
  color: #770909;
  border-color: #770909;
}

.card .btn-outline-info:hover {
  background-color: blueviolet; /* Color de fondo al pasar el cursor */
  color: rgb(251, 247, 0); /* Color del texto al pasar el cursor */
}

.card .btn-outline-info:focus,
.card .btn-outline-info:active,
.card .btn-outline-info:focus-visible {
    box-shadow: none; 
    outline: none; 
}


#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
